.views-field-contacted-faculty a {
  background-color:#D3D3D3;
  border:1px solid #333f48;
  color:#333f48;
}

.views-field-contacted-faculty a,
.views-field-contacted-faculty a:hover,
.views-field-contacted-faculty a:focus {
  border-radius:4px;
  display:inline-block;
  padding:3px;
  text-decoration:none;
  text-align:center;
}

.views-field-contacted-faculty a:hover,
.views-field-contacted-faculty a:focus {
  border:1px solid #b5f700;
  background-color:#007a29;
  color:#fff;
}
.views-field-contacted-faculty a.contacted {
  border:1px solid #382f2d;
  background-color:#007a29;
  text-decoration:none;
  color:#fff;
}

.views-field-contacted-faculty a.contacted:hover,
.views-field-contacted-faculty a.contacted:hover {
  border:1px solid #b5f700;
  background-color:#fff;
  color:#333f48;
}

td.views-field.views-field-contacted-faculty {
  text-align:center;
}

table ul {
  padding-left:0em;
}

table ul li {
  list-style:none;
  padding-bottom:0.5em;
}
