// custom responsive styling

.logo-header {
  display: inline-block;
}

// responsive header
@media only screen and (max-width: 991px)  {
  header.full-width .container .navbar-collapse {
    width: 100%;

    #block-mainnavigation ul.navbar-nav {
      text-align: center;
      float: none;

      li {
        float: none;
        display: inline-block;
      }
    }
  }
}

// for small up to medium
// responsive header
@media only screen and (max-width: 767px)  {
  header.full-width .container .navbar-collapse {
    width: 100%;

    #block-mainnavigation ul.navbar-nav {
      text-align: center;
      float: none;

      li {
        float: none;
        display: block;
      }
    }
  }

  .main.col-sm-9 {
    padding-right: 0;
  }

  .right-sidebar.col-sm-3 {
    width: 100%;
  }
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
}

.navbar-default {

  .navbar-header {
    float: right;
    display: inline-block;

    .navbar-toggle {
      padding: 5px;
      border: 1px solid #fff;

      &:hover,
      &:focus {
        background: transparent;
      }

      .sr-only {
        position: relative;
        color: #fff;
        font-size: 1em;
        line-height: 12px;
        display: block;
        width: auto;
        height: auto;
        margin: auto;
        padding: 0 0 8px 0;
        overflow: visible;
        clip: auto;
        border: 0;
      }


      .icon-bar {
        display: block;
        background: #fff;
        width: 40px;
        height: 2px;
        margin-bottom: 7px;

        &:last-child {
          margin-bottom: 4px;
        }
      }
    }
  }
}

// responsive footer
@media only screen and (max-width: 991px)  {

  .footer-wrapper footer.footer .footer-left {
    width: 100%;
    text-align: center;
  }

  .footer-wrapper footer.footer .footer-right {
    width: 100%;
    text-align: center !important;
    margin-top: 1em;
  }

}

// main and sidebar
@media (min-width: 768px) and (max-width: 991px) {
  .container {
      width: auto;
      padding: 0 20px;
  }
}


