// footer upper and lower styles
.footer-wrapper.container-fluid {
  padding: 0;
  background-color: $gray;
  border-top: 4px solid #BF5700;
}

.footer-upper {
  text-align: center;
  background-color: $gray;
  padding-top: 1em;

  #block-eurekawordmark {
    color: #fff;
    margin-top: 1em;

    p {
      font-size: 35px;
      font-family: $gtspectra;
      letter-spacing: 2px;
    }
  }

  #block-mainnavigation,
  #block-mainnavigation-2 {

    ul {
      width: 90%;
      text-align: center;
      float: none;
      font-size: 1.25em;
      margin: 0 auto;

      li {
        float: none;
        display: inline-block;
        text-align: center;

        a {
          color: #fff;

          &:hover,
          &:focus {
            background-color: transparent;
            text-decoration: underline;
          }
        }
      }
    }
  }

  #block-footerpages {

    ul.menu {
      margin: 1em 0;
      width: 90%;
      text-align: center;
      float: none;
      font-size: 1em;
      margin: 0 auto;

      li {
        float: none;
        display: inline-block;
        text-align: center;

        a {
          color: #fff;

          &:hover,
          &:focus {
            background-color: transparent;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.footer-lower {
  text-align: center;
  margin-top: 1em;

  .block-footer-lower-block {
    border-top: 1px solid #999;
    padding: 2em 0;
  }

  img {
    width: 75%;
    max-width: 300px;
  }


  p {
    color:#fff;
    margin-top: 10px;

    a {
      color: #fff;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }

  .footer-lower-wordmark {
    margin-bottom: 1.75em;
  }

  .footer-lower-links {

    ul {
      margin: 0 1.5rem 0 0;

      li {
        display: inline-block;
        margin: 0 1.5rem 0 0;
        color: #fff;

        a {
          color: #fff;
        }
      }

      li:last-child {
        margin-right: 0;
      }
    }
  }
}

.mydiv {
  column-count: 3;
}
