// footer upper and footer left and footer right styles

.footer-upper {
  text-align: center;

  #block-eurekawordmark {
    color: #fff;
    margin-top: 1em;

    p {
      font-size: 40px;
      font-family: $gtspectra;
      letter-spacing: 2px;
    }
  }

  #block-mainnavigation {

    ul {
      width: 90%;
      text-align: center;
      float: none;
      margin: 0 auto;

      li {
        float: none;
        display: inline-block;

        a {
          color: #fff;

          &:hover,
          &:focus {
            background-color: transparent;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// for footer left and footer right
.footer-wrapper {
  background-color: $gray;
  margin-top: 3em;

  footer.footer {
    border-top: 1px solid #999;
    margin-top: 1.5em;

    .footer-left {
      width: 49%;
      display: inline-block;

      #block-footerugslogo {

        img {
          max-width: 60%;
        }
      }
    }

    .footer-right {
      width: 49%;
      float: right;
      text-align: right !important;
      display: inline-block;

      #block-footercreditsandlinks {

        p {
          color:#999;
          margin-top: 10px;

          a {
            color: #fff;

            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
