// project styling

.page-node-type-project {

  .region-content {

    article {

      .col-sm-9 {
        // padding-left: 0;
      }

      .col-sm-3 {
        //padding-right: 2em;
      }

      .right-sidebar {
        background-color: #efefef;
        padding: 1em 1em 0 1em;
      }

      div.field {
        margin-bottom: 2em;
      }

      .field--label {
        font-weight: bold;
        font-size: 1.25em;
        border-bottom: 1px solid #000;
        margin-bottom: 10px;
      }

      a {
        font-size: 1em;
      }

      time {
        font-size: 1em;
      }

      p {
        font-size: 1em;
      }

      .field--name-field-close-date {
        padding: 1em;
        background: #efefef;

        .field--label {
          border: none;
          line-height: 1em;
        }
      }

      .field--name-field-contact-email .field--item a {
        overflow-wrap: break-word;
        word-wrap: break-word;
      }

      .field--name-field-project-tags {

        .field--item {
          padding: 4px 8px;
          background-color: #efefef;
          display: inline-block;
          margin-right: .5em;
          margin-bottom: .5em;

          &:hover,
          &:focus {
            background-color: #efefef;
          }
        }
      }

      div.field--name-field-display-name {
        margin-bottom: .5em;
      }

    }
  }
}
