// styling for search-results

// search button
#edit-submit-eureka-faculty-search,
#edit-submit-eureka-project-search {
  background: $gray;
  outline: 0;
  font-weight: bold;
  font-size: 1em;
  border: 1px solid #000;

  &:hover,
  &:focus {
    font-size: 1.1em;
    padding: 5px 10px;
  }
}

// global styling
// search highlights in the results
.views-field-search-api-excerpt {
  margin-top: 8px;
}

// facets
.facet-item {
  font-size: .9em;
}

// faculty results
.view-eureka-faculty-search {

  .view-header {
    margin-bottom: 1em;
    font-weight: bold;
    margin-top: 19px;
    font-size: 1.4em;

    h3.views-field-title {
      margin-top: 18px;
      margin-bottom: 1em;
    }
  }

  .view-content {
    font-size: 14px;

    .views-row {
      padding: 1.2em;

      h3.views-field-title {
        font-size: 1.4em;
        margin-bottom: 5px;
        margin-top: 0;
      }

      .views-label {
        font-weight: bold;
      }

      > div {
        line-height: 1.2em;
      }

      p {
        font-size: 1em;
        display: inline;
      }

    }

    .views-row:nth-child(even) {
      background-color: #efefef;
    }

  }

}

// sidebar facets
[class*="block-facet-blockfaculty-"] {

  h2.block-title {
    font-size: 1.6em;

  }
  ul {
    padding-left: 0;
    list-style-type: none;

    li {

      .facets-checkbox {
        margin: 2px 8px 0 0;
        display: inline-block;

      }
      label {
        font-weight: normal;
        display: inline-block;
        width: 80%;
        vertical-align: top;
      }
    }
  }
}

// projects results
.view-eureka-project-search {

  .view-header {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.4em;

    h3.views-field-title {
      margin-top: 18px;
      margin-bottom: 1em;
    }

  }

  .view-content {
    font-size: 14px;

    .views-row {
      padding: 1em;

      h3.views-field-title {
        font-size: 1.4em;
        margin-bottom: 8px;
        margin-top: 0;
      }

      > div {
        line-height: 1.2em;
        margin-bottom: 3px;
      }

      .views-field-field-proj-lead-display-name {
        font-weight: bold;
      }

      .views-label {
        font-weight: bold;
      }

      p {
        font-size: 1em;
        display: inline;
        line-height: 1.25em;
      }

    }

    .views-row:nth-child(even) {
      background-color: #efefef;
    }

  }

}

// sidebar facets for projects
[class*="block-facet-blockproject-"] {

  h2.block-title {
    font-size: 1.6em;

  }
  ul {
    padding-left: 0;
    list-style-type: none;

    li {

      .facets-checkbox {
        margin: 2px 8px 0 0;
        display: inline-block;

      }
      label {
        font-weight: normal;
        display: inline-block;
        width: 80%;
        vertical-align: top;
      }
    }
  }
}
