// taxonomy-views pages

// Faculty Results
section.block-views {

  h2.block-title {
    padding-bottom: 10px;
    border-bottom:1px solid #000;
  }

  h3.faculty-title {
    font-size: 1.6em;

    a {
      color: #bf5700;
    }
  }

  .views-field-field-affiliated-departments {
    font-size: 1.2em;

    .views-label {
      font-weight: bold;
    }

    .field-content {
      display: inline-block;
    }
  }

  .views-field-field-research-interests {

    .views-label {
      font-size: 1.2em;
      font-weight: bold;
    }

    .field-content {
      display: inline;

      p {
        display: inline;
      }

      .views-more-link {
        display: inline-block;

        a {
          font-size: 17px;
          color: #382F2D;
          font-style: italic;
          display: inline-block;

          &:after {
            content: ' \00bb';
            color: #382F2D;
            display: inline-block;
            padding-left: 3px;
          }
        }
      }
    }
  }

  .views-field-nothing {

    a {
      color: #bf5700;
      padding: 4px 6px;
      display: inline-block;
      margin-top: 6px;
      border: 1px solid #bf5700;

      &:hover,
      &:focus {
        background-color: #bf5700;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

// Project results
.view-eureka-taxonomy-term {

  .projects-taxonomy-page-title {
    padding-bottom: 10px;
    border-bottom:1px solid #000;
  }

  h3.views-field-title {
    font-size: 1.6em;

    a {
      color: #bf5700;
    }
  }

  .views-field-field-project-lead {
    font-size: 1.2em;

    .views-label {
      font-weight: bold;
    }

    .field-content {
      display: inline;

      article {
        display: inline;

        .field--name-field-display-name {
          display: inline;
        }
      }
    }
  }

  .views-field-body {

    .views-label {
      font-size: 1.2em;
      font-weight: bold;
    }

    .field-content {
      display: inline;

      p {
        display: inline;
      }
    }

    a {
      display: inline-block;
      text-decoration: none;

      .views-more-link {
        color: #382F2D;
        font-style: italic;
        text-decoration: none;
        display: inline-block;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      &:after {
        content: ' \00bb';
        color: #382F2D;
      }
    }
  }
}
